html {
			width: 100%;
			height: 100%;
			margin: 0;
			font-family: 'Exo 2', sans-serif;
			background-color: #d5e0e5;
		}
		body {
			width: 100%;
			min-height: 100%;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		#header {
			border-top: 10px solid #a0a0a0;
			width: 100%;
			background-color: #f0f0f0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
		#photo {
			width: 170px;
			height: 170px;
			margin: 30px;
			margin-left: 17%;
			border-radius: 100%;
			transition: 0.3s;
		}
		#photo:hover {
			transform: scale(1.1);
			transition: 0.3s;
		}
		.icon {
			background-color: #cfcfcf;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			padding: 5px;
			margin-right: 10px;
			transition: 0.3s;
		}
		.icon:hover {
			background-color: #bfbfbf;
			transition: 0.3s;
			cursor: pointer;
		}
		.icon:active{
			background-color: #7f7f7f;
			transition: 0.1s;
		}
		#headContent {
			line-height: 0.7;
			flex-grow: 3;
		}
		#contactme {
			outline: none;
			background-color: #4aad44;
			background-image: url('../images/button_back.png');
			background-size: 10%;
			background-repeat: no-repeat;
			background-position-y: center;
			background-position-x: 10px;
			text-transform: uppercase;
			padding: 12px 17px 12px 50px;
			color: white;
			border: none;
			border-radius: 5px;
			transition: 0.3s;
			font-size: 1.1em;
			font-weight: bolder;
			margin-right: 17%;
		}
		#contactme:hover {
			background-color: #4aa044;
			transition: 0.3s;
			cursor: pointer;
		}
		#contactme:active {
			background-color: #357a30;
			transition: 0.1s;
		}
		#body {
			width: 70%;
			margin: 20px auto 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		#body div div {
			text-align: justify;
			padding: 30px;
			background-color: #f0f0f0;
			font-weight: normal;
			margin-bottom: 20px;
			font-size: 1.1em;
			line-height: 1.5em;
		}
		#left {
			width: 60%;
			margin-right: 20px;
		}
		#right {
			width: 40%;
		}
		#footer p {
			text-align: center;
		}

		h1, h2, button {
			font-family: 'Exo 2', sans-serif;
		}
		#location {
			list-style-image: url('../images/location.png');
		}
		#phone {
			list-style-image: url('../images/phone.png');
		}
		#mail {
			list-style-image: url('../images/mail.png');
		}
		ul a {
			color: black;
			text-decoration: none;
			padding: 3px 6px;
			transition: 0.2s;
			border-radius: 3px;
		}
		ul a:hover {
			transition: 0.2s;
			background-color: lightgray;
		}
		div img {
			width: 100%;
			transition: 0.3s;
			margin-top: 20px;
		}
		div img:hover {
			filter: brightness(80%);
			transition: 0.3s;
		}
		h4 {
			text-align: center;
			margin-bottom: 0;
		}
		.link {
			text-align: center;
			display: block;
			margin: 0 auto;
		}